# Dependencies
/user-microservice/app/vendor/

# Symfony
/user-microservice/app/var/
/user-microservice/app/.env.local
/user-microservice/app/.env.local.php
/user-microservice/app/.env.*.local
/user-microservice/app/config/secrets/prod/prod.decrypt.private.php
/user-microservice/app/public/bundles/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
